div(class="row")
	div(class="col-md-7")
		div
			h3 Nueva Propuesta
			div(class="input-group")
				input(type="text", class="form-control", placeholder="Titulo", ng-model="proposalData.name")
			br
			div(class="input-group")
				textarea(type="form-control", rows="3", placeholder="Descripción", ng-model="proposalData.description")
			br
			div(class="input-group")
				span(class="input-group-addon") $
				input(type="number", class="form-control", placeholder="Recompensa inicial", ng-model="proposalData.quantity")
				span(class="input-group-addon") .00
			br
			br
			h6 Sube una imagen
			input(type='file', position='relative')
			p 
			br
			h6 Mapa del acontecimiento
			google-map(center="map.center", zoom="map.zoom")

	div(class="col-md-3 col-md-offset-1")
			h6 0
			body interesados
			h6 $ {{ proposalData.quantity }}
			body acumulado
			h6 20
			body dias restantes
			button(type="button", class="btn btn-primary", ng-click="addNewProposal()") Apoyar