div(class= "container")
	img(src ="images/berlanga.jpg" class= "img-responsive img-circle displayed resize profile" alt = "Responsive image")
	div(class = "text-center")
		h3 Gabriel Berlanga
	//- checkar alingment
	div(class = "row row-centered")
		div(class= "col-md-6")
			h4 84%
		div(class= "col-md-6")
			img(src = "images/thumbs-up.jpg" class = "img-responsive displayed resize-thumb")
	hr
	div(class= "col-md-4 bold")
		p Recent