form.form(onsubmit='return signup()')
	h2.form-heading ¡Reg&iacute;strate a Movimus!
	.form-fields
		input#name.form-control(type='text', placeholder='Nombre')
		input#email.form-control(type='text', placeholder='Email', required='')
		input#password.form-control(type='password', placeholder='Contraseña', required)
	button.btn.btn-lg.btn-primary.btn-block(type='submit') Crear cuenta
	p.text-center(style='margin-top:10px;')
		| o
		a(href='http://codepen.io/userapp/pen/hmnEz') Inicia sesi&oacute;n
