form.form(onsubmit='return login()')
	h2.form-heading Iniciar sesi&oacute;n en Movimus
	.form-fields
		input#username.form-control(type='text', placeholder='Email', required='', autofocus='')
		input#password.form-control(type='password', placeholder='Password', required='')
	button.btn.btn-lg.btn-primary.btn-block(type='submit') Iniciar sesi&oacute;n
		
	p.text-center(style='margin-top:10px;')
		| o 
		a(ui-sref='sign-up', class="text") Reg&iacute;strate
	p.text-center(style='margin-top:10px;')
		a(ui-sref='h.home', class="text") Inicio