form.form
	h2.form-heading ¡Reg&iacute;strate a Movimus!
	.form-fields
		input#name.form-control(type='text', placeholder='Usuario', required, ng-model="userData.username")
		input#email.form-control(type='text', placeholder='Email', required, ng-model="userData.email")
		input#password.form-control(type='password', placeholder='Contraseña', required, ng-model="userData.password")
		input#password.form-control(type='password', placeholder='Confirmar contraseña', required, ng-model="userData.passwordConfirmation")
	button.btn.btn-lg.btn-primary.btn-block(class='button', ng-click="signUp()") Crear cuenta
	p.text-center(style='margin-top:10px;')
		| o 
		a(ui-sref='login', class="text") Inicia sesi&oacute;n
	p.text-center(style='margin-top:10px;')
		a(ui-sref='h.home', class="text") Inicio