div(class="row")
	div(class="col-md-7")
		div
			h3 Quitar bache
			img(src='images/bache.jpeg', alt='..')
			br
			br
			body Hay un bache cerca de mi casa, ya me tiene hasta la madre, quien me ayuda?
			p {{ test }}
			h5 Lugar
			google-map(center="map.center", zoom="map.zoom") 

	div(class="col-md-3 col-md-offset-1")
			h6 4
			body interesados
			h6 $70
			body acumulado
			h6 10
			body dias restantes
			br
			br
			button(type="button" class="btn-default") Apoyar
