div(class="row")
	div(class="col-md-10")
		div
			img(src='images/bache.jpeg', alt='..')
			h1 Quitar bache
			body Hay un bache cerca de mi casa, ya me tiene hasta la madre, quien me ayuda?
			p {{ test }}
	div(class="col-md-1 col-md-offset-1")
			h6 4
			body interesados
			h6 $70
			body acumulado
			h6 10
			body dias
			h6 map
