div(class="navbar navbar-default navbar-fixed-top")
    div(class="container")
        div(class="navbar-header")
            button(class="navbar-toggle", type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(class="navbar-brand", href='#') Movim.us
        div(class="navbar-collapse collapse")
            ul(class="nav navbar-nav pull-right") 
                li(class="active")
                    a(ui-sref="home") Home
                li
                    a(ui-sref="new-proposal") 
                        span(class="fui-plus")
                li
                    a(ui-sref="profile") 
                        span(class="fui-user")