
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Movim.us</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a ui-sref="h.home">Home</a></li>
        <li><a ui-sref="h.new-proposal"><span class="fui-plus"></span></a></li>
        <li><a ui-sref="h.profile"><span class="fui-user"></span></a></li>
        <li><a href="https://www.paypal.com"><span class="fui-paypal"></span></a></li>
      </ul>
    </div>
  </div>
</div>
<div ui-view="bodyView"></div>