
<div class="container"><img ng-src="{{ user.profileImage }}" alt="Responsive image" class="img-responsive img-circle displayed resize profile"/>
  <div class="text-center">
    <h3>{{ user.name }}</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="pull-right">{{ user.score }}%</h4>
    </div>
    <div class="col-md-6"><img src="images/thumbs-up.jpg" class="pull-left img-responsive displayed resize-thumb"/></div>
  </div>
  <hr/>
  <div class="col-md-4 bold">
    <p>Recent</p>
  </div>
  <div ng-repeat="task in tasks">
    <task-element-directive></task-element-directive>
  </div>
</div>