
<form onsubmit="return login()" class="form">
  <h2 class="form-heading">Inicia sesi&oacute;n Movimus</h2>
  <div class="form-fields">
    <input id="username" type="text" placeholder="Email" required="" autofocus="" class="form-control"/>
    <input id="password" type="password" placeholder="Password" required="" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-lg btn-primary btn-block">Iniciar sesi&oacute;n
    <p style="margin-top:10px;" class="text-center"></p>o<a ui-view="signup">Reg&iacute;strate</a>
  </button>
</form><span id="paypalContainer"></span>
<script>
  paypal.use( ["login"], function(login) {
   login.render ({
    "appid": "Ac3VrRCzC6eZmwLGtz4IplcMBx3_gTPrDYVHk6PGKExSebckBjENoPkAdaLZ",
    "authend": "sandbox",
    "scopes": "profile email address phone https://uri.paypal.com/services/paypalattributes",
    "containerid": "paypalContainer",
    "locale": "en-us",
    "returnurl": "http://localhost:9000/#/home"
   });
  });
</script>