
<div class="row">
  <div class="col-md-7">
    <div><img src="images/bache.jpeg" alt=".."/>
      <h1>Quitar bache</h1>
      <body>Hay un bache cerca de mi casa, ya me tiene hasta la madre, quien me ayuda?</body>
      <p>{{ test }}</p>
    </div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <h6>4</h6>
    <body>interesados</body>
    <h6>$70</h6>
    <body>acumulado</body>
    <h6>10</h6>
    <body>dias</body>
    <h6>Lugar:</h6>
    <google-map center="map.center" zoom="map.zoom"></google-map>
  </div>
</div>