
<div class="row">
  <div class="col-md-7">
    <div>
      <h3>Quitar bache</h3><img src="images/bache.jpeg" alt=".."/><br/><br/>
      <body>Hay un bache cerca de mi casa, ya me tiene hasta la madre, quien me ayuda?</body>
      <p>{{ test }}</p>
      <h5>Lugar</h5>
      <google-map center="map.center" zoom="map.zoom"></google-map>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <h6>4</h6>
    <body>interesados</body>
    <h6>$70</h6>
    <body>acumulado</body>
    <h6>10</h6>
    <body>dias restantes</body><br/><br/>
    <button type="button" class="btn-default">Apoyar</button>
  </div>
</div>